<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.order_service.batis_mapper.CustomerMapper">

    <resultMap id="CustomerResultMap" type="Customer">
            <id property="id" column="customer_id" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="address" column="address" />
    </resultMap>

    <select id="findCustomerById" resultMap="CustomerResultMap">
        SELECT
            c.customer_id,
            c.phone,
            c.email,
            c.address
        FROM
            public.customer c
        WHERE
            c.customer_id = #{id}
    </select>

    <select id="findAllCustomerByPhone" resultMap="CustomerResultMap">
        SELECT
            c.customer_id,
            c.phone,
            c.email,
            c.address
        FROM
            public.customer c
        WHERE
            c.phone::text = #{phone}
    </select>
</mapper>
