<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.order_service.batis_mapper.RestaurantMenuMapper">

        <resultMap id="restaurantMenuItemResultMap" type="RestaurantMenuItem">
                <result property="id" column="restaurant_menu_item_id" />
                <result property="name" column="restaurant_menu_item_name" />
                <result property="price" column="restaurant_menu_item_price" />
                <result property="description" column="restaurant_menu_item_description" />
                <result property="image" column="restaurant_menu_item_image" />
                <result property="status" column="restaurant_menu_item_status" />
                <association property="restaurant" javaType="Restaurant">
                <result property="id" column="restaurant_id" />
                <result property="name" column="restaurant_name" />
                <result property="address" column="restaurant_address" />
                <result property="status" column="restaurant_status" />
            </association>
    </resultMap>

    <select id="findRestaurantMenuById" resultMap="restaurantMenuItemResultMap">
        SELECT
            m.restaurant_menu_item_id,
            m.name AS restaurant_menu_item_name,
            m.price AS restaurant_menu_item_price,
            m.description AS restaurant_menu_item_description,
            m.image AS restaurant_menu_item_image,
            m.status AS restaurant_menu_item_status,
            r.restaurant_id,
            r.restaurant_name AS restaurant_name,
            r.address AS restaurant_address,
            r.status AS restaurant_status
        FROM
            restaurant_menu_item m
            JOIN restaurant r ON m.restaurant_id = r.restaurant_id
        WHERE
            m.restaurant_menu_item_id = #{id}
    </select>

    <select id="findAllRestaurantMenuByRestaurantId" resultMap="restaurantMenuItemResultMap">
        SELECT
            m.restaurant_menu_item_id,
            m.name AS restaurant_menu_item_name,
            m.price AS restaurant_menu_item_price,
            m.description AS restaurant_menu_item_description,
            m.image AS restaurant_menu_item_image,
            m.status AS restaurant_menu_item_status,
            r.restaurant_id,
            r.restaurant_name AS restaurant_name,
            r.address AS restaurant_address,
            r.status AS restaurant_status
        FROM
            restaurant_menu_item m
                JOIN restaurant r ON m.restaurant_id = r.restaurant_id
        WHERE
            m.restaurant_id = #{id}
    </select>
</mapper>
